/* 
    Created on : Apr 28, 2018, 4:49:17 PM
    Author     : sam
*/
/*
blauw:        #0747a6
groen:        #28BB66
grijs:        #F4F5F7
rood:         #C62828
donkergrijs:  #E0E0E0
menuItems:    #3F3F3F
*/

.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI";
    -fx-background-color: white;
}

.title {
    -fx-font-size: 19px;
    -fx-fill: #0747a6;
}

#menu .list-cell{
    -fx-padding: 20px 10px;
    -fx-font-size: 1.1em;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-text-fill: #3F3F3F;

}

#menu .list-cell:hover {
    -fx-background-color: #E8E8E8;
}

#menu .list-cell:empty {
    -fx-background-color: #F4F5F7;
    -fx-cursor:DEFAULT;
}

#menu .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #0747a6; 
}

.table-view:focused {
    -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;

}
.table-view {
    -fx-border-width: 0 1 1 1;
    -fx-border-color: #E0E0E0;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-border-width: 0 0 0 0;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected, .table-row-cell:odd:selected{
    -fx-background-color:#0747a6;
    -fx-text-background-color: whitesmoke;

}


.table-row-cell:odd{
    -fx-background-color: #F4F5F7;
    -fx-border-width: 0 0 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color:#E0E0E0;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: 600;
}

/*.table-view-cell-header {
    -fx-background-color:#E0E0E0;
    -fx-size: 35;
    -fx-border-width: 0 0 0 1;
    -fx-border-color:#a8a8a8;
    -fx-font-weight: 700;
}*/

/* ==== BUTTONS ==== */
.btn {
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-padding: 7px 10px;
    -fx-cursor: hand;
    -fx-pref-height: 40px;
    -fx-pref-width: 130px;
}

.btn:hover {
    -fx-scale-y: 0.97;
    -fx-scale-x: 0.97;
}

.btn-danger {
    -fx-background-color: #C62828;
}
.btn-danger:hover {
    -fx-background-color: #B22323;
}

.btn-success {
    -fx-background-color: #28BB66;
}

.btn-success:hover {
    -fx-background-color: #21A559;
}

.btn-default {
    -fx-background-color: #F4F5F7;
    -fx-text-fill: #333333;
    -fx-border-color: #cccccc;
}

.btn-default:hover {
    -fx-background-color:#ededed;
}

.btn-accent {
    -fx-background-color: #0747a6;
    -fx-pref-height: INHERIT;
    -fx-pref-width: INHERIT;
    -fx-padding: 5px 5px;
}


.text-fld {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-radius: 2 ;
    -fx-background-color: #F4F5F7;
    -fx-font-size: 0.95em;
    -fx-padding: 8px 10px;
}
